body {
  font-family: sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
.bg {
  background-image: url("./assets/images/paris-l.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3%;
}
