@define-mixin atSmall {
  @media (min-width: 595px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 825px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1270px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
