.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 2s ease-out;
}

.show {
  display: block;
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
