.primary-nav {
  @mixin atMedium {
    display: block;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__list {
    list-style-type: none;

    @mixin atMedium {
      float: right;
      margin: 0;
    }

    &-item {
      float: left;
      padding: 10px 12px;
      transition: 0.3s ease-out;
      font-size: 0.8rem;

      @mixin atMedium {
        font-size: 0.8rem;
      }

      @mixin atLarge {
        padding: 10px 19px;
      }

      &--is-current {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
.primary-nav-icon {
  font-size: 0.9rem;
  padding-right: 3px;
}
