.primary-nav {
  @mixin atMedium {
    display: block;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__list {
    text-align: center;
    list-style-type: none;
    padding: 0 0 20px;

    @mixin atMedium {
      padding-top: 0;
      float: right;
      margin: 0;
    }

    &-item {
      padding: 10px 10px;
      transition: 0.3s ease-out;
      font-size: 0.7rem;

      @mixin atMedium {
        float: left;
        padding: 10px 12px;
        font-size: 0.8rem;
        &:hover {
          transform: translateY(-5px);
        }
      }

      @mixin atLarge {
        padding: 10px 19px;
      }

      &--is-current {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
      }
    }
  }
}
.primary-nav-icon {
  font-size: 0.9rem;
  padding-right: 3px;
}
