.site-header {
  @mixin clearfix;
  color: white;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease-out;

  &--is-expanded {
    z-index: 10;
    height: 450px;
    background-color: rgba(79, 75, 90, 0.9);
    @mixin atMedium {
      height: auto;
    }
  }

  &__menu-content {
    opacity: 0;
    width: 100%;
    transform: scale(1.2);
    transition: all 0.5s ease-out;
    text-align: center;
    position: relative;
    z-index: -10;

    &--is-visible {
      transform: scale(1);
      opacity: 1;
      position: absolute;
      z-index: 9;
      padding: 0;
    }

    @mixin atMedium {
      transform: scale(1);
      opacity: 1;
      display: block;
      background-color: transparent;
      z-index: 9;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    letter-spacing: -2px;
    font-size: 3.2rem;
    text-decoration: none;
    z-index: 10;

    @mixin atMedium {
      left: 0;
      transform: translateX(0);
      padding-left: 12px;
      margin-top: 80px;
      width: auto;
      float: left;
    }

    @mixin atLarge {
      padding-left: 9.375rem;
    }
  }

  &__menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    z-index: 10;

    &::before {
      transform-origin: 0 0;
      transition: all 0.3s ease-out;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      border-radius: 5px;
      height: 7px;
      background-color: #fff;
    }

    &__middle {
      position: absolute;
      top: 16px;
      left: 0;
      width: 40px;
      border-radius: 5px;
      height: 6px;
      background-color: #fff;
      transform-origin: left center;
      transition: all 0.4s ease-out;
    }

    &::after {
      transform-origin: 0 100%;
      transition: all 0.3s ease-out;
      content: "";
      position: absolute;
      bottom: 2;
      left: 0;
      width: 40px;
      border-radius: 5px;
      height: 7px;
      background-color: #fff;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close {
    &::before {
      transform: rotate(45deg) scaleX(1.19);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scale(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.19);
    }
  }

  &__top-bar {
    margin-top: 60px;
    bottom: 0;
    padding: 0;

    border-bottom: 2px solid $hoverGray;

    @mixin atMedium {
      margin-top: 0;
      position: relative;
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid $hoverGray;
    }

    a {
      color: #efeee6;
      text-decoration: none;
    }
  }

  &__main {
    margin-top: 10px;
    @mixin clearfix;

    @mixin atMedium {
      margin-top: 40px;
    }
  }
}

.top-bar-nav {
  display: inline-block;
  @mixin atMedium {
    float: left;
  }

  &-list {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    :not(:last-child) {
      border-right: 2px solid $hoverGray;
    }

    &__item {
      float: left;
      padding: 5px;

      @mixin atMedium {
        padding: 12.5px;

        &:hover {
          background-color: $hoverGray;
          border-color: transparent;
        }
      }

      a {
        font-size: 0.7rem;

        @mixin atMedium {
          font-size: 1rem;
        }
      }
    }
  }
}
