.site-header {
  @mixin clearfix;
  color: white;
  position: absolute;
  width: 100%;

  &__menu-content {
    display: none;

    &--is-visible {
      display: block;
    }

    @mixin atMedium {
      display: block;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    letter-spacing: -2px;
    font-size: 3.2rem;
    text-decoration: none;

    @mixin atMedium {
      left: 0;
      transform: translateX(0);
      padding-left: 12px;
      margin-top: 70px;
      width: auto;
      float: left;
    }

    @mixin atLarge {
      padding-left: 9.375rem;
    }
  }

  &__menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    height: 45px;
    width: 45px;
    z-index: 10;
    &:hover {
      background-color: red;
    }
    @mixin atMedium {
      display: none;
    }
  }

  &__top-bar {
    top: 0;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid $hoverGray;

    @mixin atMedium {
      display: inline-block;
    }

    a {
      color: #efeee6;
      text-decoration: none;
    }
  }

  &__main {
    margin-top: 40px;
    @mixin clearfix;
  }
}

.top-bar-nav {
  float: left;
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    :not(:last-child) {
      border-right: 2px solid $hoverGray;
    }

    &__item {
      float: left;
      padding: 12.5px;
      &:hover {
        background-color: $hoverGray;
        border-color: transparent;
      }
    }
  }
}
.dropdown {
  font-size: 0.8rem;
}
