.site-socials {
  display: inline-block;
  list-style-type: none;
  padding: 0;

  @mixin atMedium {
    margin: 0;
    float: right;
  }

  &__item {
    margin-top: 0;
    float: left;
    padding: 12.5px;

    &:hover {
      background-color: $hoverGray;
    }
  }
}
