.tabbed-box {
  position: absolute;
  top: 150;
  max-width: 95%;
  @mixin atMedium {
    top: 200px;
  }

  &__tabs {
    height: 52px;
    width: 100%;
    overflow: hidden;
    background-color: #4f4b5a;

    @mixin atMedium {
      height: 52px;
      width: 541px;
      overflow: hidden;
      background-color: #4f4b5a;
    }

    &--links {
      color: white;
      background-color: #4f4b5a;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 20px 10px;
      font-size: 0.7rem;

      @mixin atMedium {
        padding: 17px 20px;
        font-size: 1.0625rem;

        & .fas {
          font-size: 15px;
        }
      }

      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }
      &.is-active {
        background-color: $mainRed;
        &:hover {
          background-color: $hoverRed;
        }
      }

      &:hover {
        background-color: $hoverGray;
      }

      &--planeicon {
        transform: rotate(-45deg) translate(2px, -1px);
      }

      & .fas {
        font-size: 12px;
      }
    }
  }

  &__tabcontent {
    &--row {
      @mixin clearfix;
    }

    position: relative;
    color: #343231;
    width: 100%;
    height: auto;
    background-color: rgba(248, 246, 247, 0.9);
    padding: 35px 40px 30px;
    border-top: 4px solid $mainRed;

    @mixin atMedium {
      width: 676px;
    }

    &--headerRow {
      text-align: center;
      @mixin atMedium {
        float: left;
      }

      margin-bottom: 0;
    }

    &--btnGroup {
      transform: translateY(25%);
      @mixin atMedium {
        float: right;
      }

      button {
        float: left;
        background-color: #fdfdfd;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        padding: 10px 24px;
        cursor: pointer;

        &:hover {
          background-color: $hoverRed;
          color: white;
        }

        &:not(:last-child) {
          border-right: none;
        }

        &.is-selected {
          background-color: $mainRed;
          color: white;
          &:hover {
            background-color: $hoverRed;
          }
        }
      }
    }
    &--search {
      float: left;
      cursor: pointer;
      margin-top: 30px;
      color: white;
      background-color: $mainRed;
      border: none;
      border-radius: 2px;
      font-weight: 600;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      font-size: 0.75rem;
      padding: 10px 20px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: $hoverRed;
      }
    }

    &--advanced-search {
      margin-top: 30px;
      color: $mainRed;
      float: right;
      font-style: italic;
      padding-bottom: 5px;
      border-bottom: 2px solid $mainRed;
      cursor: pointer;

      &:hover {
        color: $hoverRed;
        border-color: $hoverRed;
      }
    }
    &--flights-form {
      &__row {
        :first-child,
        :not(:last-child) {
          padding-right: 15px;
        }
        :not(:first-child) {
          padding-left: 15px;
        }
      }
      &__item {
        font-size: 0.6875rem;
        font-weight: 600;
        float: left;
        margin-top: 35px;
        line-height: 2rem;

        & input {
          font-size: 0.8rem;
          border: 1px solid #e2dfe0;
          height: 20px;
          width: 100%;
          padding: 20px;
        }
      }
    }
    @mixin clearfix;
  }
}
