.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @mixin atMedium {
    padding-left: 12px;
    padding-right: 12px;
  }

  @mixin atLarge {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
  }
}
